* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    width: 960px;
    margin: 0 auto;
}
#img-wrapper {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    background-image: url('HTML and CSS.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    float: left;
}
#text-wrapper {
    margin-left: 50px;
    margin-top: 15px;
    display: inline-block;
}
#text-wrapper > h1 {
    font-size: 40px;
}
main{
    clear: both;
    margin-top: 110px;
}
.article-wrapper {
    padding-left: 5px;
    padding-right: 5px;
}
.article-wrapper > p {
    margin-top: 15px;
}
#article-wrapper {
    width: 380px;
    float: left;
}
#section-wrapper {
    width: 580px;
    border-left: 3px solid black;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.article-wrapper > h3 {
    font-size: 20px;
}
#section-wrapper .article-wrapper:nth-child(2) {
    margin-top: 15px;
}