table {
    width: 500px;
    margin: 50px auto 50px auto;
    border-collapse: collapse;
    font-weight: bold;
    
}


td {
    padding: 10px 0;
}
td:nth-child(2) {
    text-align: center;
}
img {
    height: 100px;
    margin: 0px auto;   
}
tr:nth-child(2n+3) {
    background-color: rgb(128, 128, 128);
}

#first {
    background-color: red;
    color: white;
   
}
table>tr:hover {
    background-color: yellow;
}
#first th {
    padding: 10px;
}