* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}
body{
    font-family: Lepo;
}
header {
    width: 100%;
    background-image: url("banner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 30px ;
    padding-bottom: 20px;
}

#readmore {
    background-color: #2874A6;
    color: white;
    width: 28%;
    padding: 7px 10px;
    border-radius:20px;
    margin: 0 auto;
    margin-top: 5px;
}
#readmore:hover{
    background-color: rgb(168, 135, 223);
    color: rgb(170, 12, 12);
}
header p {
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    padding: 20px;

}
#build {
    color: orange;
    border: 2px solid gray;
    border-right: 0px;
    font-size: 24px;
    font-weight: bold;
}
#build-wrapper {
    display: inline-block;
}
#estate {
    color: gray;
    font-size: 24px;
    font-weight: bold;
}
nav {
    padding: 6%;
}
nav div {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
nav ul {
    background-color: #85C1E9;
    list-style-type: none;
}
nav ul li a {
    color: white;
    display:block;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    font-weight: bold;
}
nav ul li:hover {
    background-color: rgb(36, 36, 44);
    color: black;
}
#firstSection {
    padding: 0 10%;
}
#firstSection #firstP {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}
#firstSection article {
    margin-top: 18px;
    width: 100%;
}
#firstSection article #firsth3 {
    color: lightblue;
}
#firstSection article:first-child {
    margin-top: 15px;
}
#firstSection article p {
    margin-top: 15px;
    line-height: 22px;
    font-size: 14px;
}
#firstSection article ul {
    margin-top: 15px;
    list-style-image: url('arrow.png');
    list-style-position: inside;
}
#firstSection article ul li {
    color: grey;
    margin-bottom: 15px;
}
#secondh3 {
    color: lightblue;
}
#secondSection {
    padding: 0 10%;
}
#secondSection #secondP{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 15px;
}
#secondSection article .div-wrapper .img-wrapper img {
    width: 70px;
    border-radius: 50%;
    border: 3px solid white;
}
#secondSection article {
    background-color: lightblue;  
    padding: 10% 5%;
    margin-bottom: 10px;

}
#secondSection article .div-wrapper .img-wrapper{
    float: left;

}
#secondSection article .div-wrapper {
    overflow: hidden;
}
#secondSection article .div-wrapper h3 { 
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#secondSection article p {
    color: white;
    line-height: 27px;
}

#thirdSection #thirdP {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 15px;
}
#thirdSection article:nth-child(2){
    background-color: rgb(109, 211, 109);
    color: white;
    padding: 35px;
}
#thirdSection article:nth-child(2) p{
    margin-top: 15px;
}
#thirdSection article h4 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: white;
}
#thirdSection article p img {
    width: 25px;
    margin-right: 8px;
}
#thirdSection article p {
    text-align: center;
}
#thirdSection article:nth-child(3) {
    background-color: rgb(214, 25, 98);
    padding: 35px;
}
#thirdSection article:nth-child(3) p {
    margin-top: 30px;
}

#thirdSection article:nth-child(4) {
    background-color: blue;
    padding: 35px;
}
#thirdSection article:nth-child(4) p {
    color: white;
    margin-top: 15px;
}
#thirdSection article:nth-child(5) {
    background-color: lightblue;
    text-align: center;
}
#fourthSection h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: underline;
}
#form {
    padding: 0 5%; 
}
#form input, #form textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}
#form button {
    background-color: orange;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px 20px;
    margin-bottom: 50px;
}

footer {
    background-color: rgb(48, 46, 46);
    text-align: center;
    padding: 50px 20px 30px 20px;
}
footer ul {
    list-style-type: none;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
}
footer ul li {
    display: inline-block;
    color: white;
    margin-left: 2px;
}
footer p {
    color: white;
    margin-top: 15px;
}
@font-face {
    font-family: 'Lepo';
    src: url('fontawesome-webfont.woff');
}

@media only screen and (min-width: 768px){
    
#readmore {
    width: 15%;
    padding: 12px 5px;
} 
    nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        padding: 7px 20px 0 20px ;
    }
    nav div{
        float: left;
        overflow: hidden;
    }
     nav ul {
        float: right;
        overflow: hidden;
        background-color: transparent;
        margin-right: 12px;
    }
    nav ul li {
        float: left;
       padding: 4px 9px;
    }
    #build-wrapper {
        border: 3px solid white;
        border-right: 0px;
    }
    #build {
        border: 0px;
        padding: 5px;
    }
    #estate {
        color:white;
        display: inline-block;
        margin-top: 3px;
        margin-left: 5px;
    }
    header  {
        padding: 30% 0 30% 0;
        text-align: center;
    }
    header p {
        font-size: 36px;
        width: 100%;
    }
    
    #firstSection article:nth-child(2) {
        width:50%;
        float: left;
    }
    #firstSection article:nth-child(3) {
        width: 50%;
        float: left;
    }
    #firstSection article:nth-child(4){
        clear: both;
        width: 100%;
    }
    #firstSection #firstP {
        font-size: 34px;
        margin-top: 35px;
        margin-bottom: 30px;
    }
    #secondSection {
        margin-top: 150px;
        overflow: hidden;
    }
    #secondSection article {
        width: 45%;
        float: left;
    }
    #secondSection article:nth-child(2) {
        margin-right: 20px;
    }
    #secondSection article:nth-child(3) .div-wrapper h3 {
        width: 150px;
        height: 18px;
    }
    #secondSection article .div-wrapper h3 {
        font-size: 16px;
        width: 70%;
    }
    #secondSection article .div-wrapper .img-wrapper {
        width: 25%;
    }
    #secondSection article {
        padding: 5% 0% 5% 2%;
        width: 48%;
    }
    #secondSection article:nth-child(3) {
        float: right;
    }
    #secondSection #secondP {
        margin-bottom: 50px;
    }
    #thirdSection  {
        margin-top: 100px;
        overflow: hidden;
    }
    #thirdSection #thirdP {
        margin-bottom: 50px;
    }
    #thirdSection article {
        width: 50%;
        float: left;
        height: 200px;
    }
    
    #thirdSection article:nth-child(5) img {
        height: 100%;
    }
    #fourthSection input {
        width: 32%;
        float: left;
    }
    form {
        overflow: hidden;
    }
    input:nth-child(2) {
        margin-left: 13px;
        margin-right: 13px;
    }
    #fourthSection textarea {
        clear: both;
        margin-top: 60px;
    }
    
    footer ul li {
        margin-left: 15px;
    }
}
@media only screen and (min-width: 1200px){
    #readmore {
        width: 10%;
        padding: 7px 2px;
    } 
    header p{
        font-size: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    #firstSection {
        margin-top: 100px;
    }
    #firstSection article:nth-child(2) {
      width: 30%;
      display: inline-block;
      margin-left: 6%;
    }
    #firstSection article:nth-child(3) {
        width: 30%;
        display: inline-block;
        margin-left: 2%;
        margin-right: 2%;
      }
      #firstSection article:nth-child(4) {
        width: 30%;
        display: inline-block;
      }
      #secondSection {
          margin-top: 60px;
          padding: 0 3.5% 0 3.5%;
          width: 100%;
      }
      #secondSection article {
          padding-left: 2%;
          padding-right: 2%;
          text-align: left;
          width: 32%;
          display: inline-block;
      }
      #secondSection article p {
          text-align: justify;
      }
    #secondSection article:nth-child(2),#secondSection article:nth-child(3),#secondSection article:nth-child(4) {
        float: left;
        margin: 0;
    }
   
    #secondSection article:nth-child(3){
        margin-left: 2%;
        margin-right: 2%;
    }
    #thirdSection {
    overflow: hidden;
    }
#thirdSection article{
    width: 25%;  
}
#fourthSection #form {
    margin-top: 40px;
}
#fourthSection #form input {
    width: 32.4%;
}
footer ul li {
    margin-left: 15px;
}
}
